/*

/*/

!.gitignore
!README.md

# Exclude the /Project/ folder
!Astroids Clone/

# Ignore everything inside project folder
Astroids Clone/*

# Select which folders become excluded
!Astroids Clone/Assets/
!Astroids Clone/UnityPackageManager/
!Astroids Clone/ProjectSettings/
!Astroids Clone/Packages