/*

/*/

!.gitignore
!README.md

# Exclude the /Project/ folder
!Asteroids Clone/

# Ignore everything inside project folder
Asteroids Clone/*

# Select which folders become excluded
!Asteroids Clone/Assets/
!Asteroids Clone/UnityPackageManager/
!Asteroids Clone/ProjectSettings/
!Asteroids Clone/Packages